/* baggrunden */
body {
    background-color: white;
}

/* hele lommeregneren*/
.lommeregner {
    position: relative;
    margin: 1em auto;
    padding: 1em 0;
    width: 600px;
    background-color: white;
    box-shadow: 5px 5px 15px 3px #111;
}

/* Raekker, som er gemt i forskellige div.
text-align: hvordan teksten er placeret.
display: inline betyder, at elementer er vist på samme linje inden for
den samme blok. inline-block er det samme, men man må justere højden og bredden
på elementet. Vi elementer i rækkerne, som er brede og højere.
#eee er den grå farve */
.raekke{
    text-align: center;
    display: inline-block;
    font-weight: bold;
    border: 1px solid #555;
    background-color: #eee;
    padding: 10px 0;
    margin: 7px 5px;
    box-shadow: 2px 2px 1px 1px #222;
    width: 120px;
}
/* display, som er lidt anderledes fra de andre knapper.*/
.screen {
    width: 85%;
    background-color: white;
    text-align: left;
    font-size: 2em;
    min-height: 1.2em;
}
/* den brede knap */
.bred{
    width: 255px;
}

/* delete-knappen */
.del{
    background-color: red;
}
/* Den høje knap. Det var vigtigt, at den var placeret
 under den tredje række for at den danner en række
 for sig selv efter i det rigtige sted. */
.hoej{
    margin-left: -25px;
    margin-right: 35px;
    background-color: turquoise;
}
.groen{
    background-color: mediumseagreen;
}



