<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>forside</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link href="mitCSS.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="mitScript.js"></script>

</head>
<body>

<div class="lommeregner">

    <div class="raekke">
        <div class="screen"></div>
    </div>

    <div class="raekke">
        <div class="button groen">/</div>
        <div class="button groen">*</div>
        <div class="button bred del">DEL</div>
    </div>

    <div class="raekke">
        <div class="button">7</div>
        <div class="button">8</div>
        <div class="button">9</div>
        <div class="button groen">-</div>
    </div>

    <div class="raekke">
        <div class="button">4</div>
        <div class="button">5</div>
        <div class="button">6</div>
        <div class="button groen">+</div>
    </div>

    <div class="raekke">
        <div class="button hoej">=</div>
    </div>

    <div class="raekke">
        <div class="button">1</div>
        <div class="button">2</div>
        <div class="button">3</div>

    </div>

    <div class="raekke">
        <div class="button bred">0</div>
        <div class="button">.</div>
    </div>
</div>

</body>
</html>